$backcolor:#354545;
$border-black-color:#131818;

@mixin position($display, $justify-content, $align-items, $flex-direction){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

.editar, .excluir{
    width: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.conteiner-AppPage{
    background-color: $backcolor;
    @include position(flex, none, center, row);
    height: 100vh;
    width: 100vw;

    h1{
        color: #ffff;
        margin-left: 10px;
    }
}
.loading{
    display: none
}
.loaded{
    display: flex;
}
    .sec-home{
        @include position(flex, start, right, column);
        padding: 10px 0px 10px 20px;
        width: 60%;
        height: 100%;
        color:#fff;
        gap: 15px;
        overflow-x: hidden;
        overflow-y: scroll;

        ul{
            list-style: none;
        }
    }

.sec-carros, .sec-manutencoes{
    @include position(flex,left, center, row);;
    width: 100%;
    height: auto;
    gap: 20px;
    
    figure{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
}

.div-manutencoes{
    padding: 5px; 
    justify-content: start;
        .info{
            @include position(flex,space-around,right, column);
            gap: 10px;
            letter-spacing: 1px;
            padding: 4px 5px;
             height: 100%;
            .infos_buttons, .buttons {
                display: flex;
                justify-content: space-between;
                .buttons{
                    width: 30%;
                    list-style: none;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }

            }
        span{
            width: 50%;
            display: inline;
        }
    }
}

.atalhos{
 @include position(flex, flex-start, flex-end, row);
    display: disabled;
    flex-wrap: wrap;
    width: auto;
    color: #fff;
    gap: 5%;
    padding-top: 20px;

    h2{
        font-size: 1.5em;
        width: 100%;
    }
}
    .info-rapidas{
        @include position(flex,flex-start, right, column);
        width: 40%;
        
        height: auto;
        gap: 5px;
        padding: 10px;       
        background-color: #131818;
        border-radius: 10px;
        .produto{
            color:#FFD700;
        }
        .KM-troca{
            color:green;
        }
        .KM-max{
            color: red;
        }

    }
@media (max-width:800px){

    .conteiner-AppPage{
        flex-direction: row;
    }
        .sec-home{
            width: 100vw;
            flex-wrap: wrap;
            padding: 10px;
        
        .sec-carros, .sec-manutencoes{ 
            width: 100%;
            height: 30vh;
         
            align-items: flex-start;
        }
        .div-manutencoes{
            flex-wrap: wrap;
        }
        .div-carros, .div-manutencoes, .info-rapidas{
            width: 50%;
            height: auto;
    
        figure{
            width: 100%;
            height: 100%;      
        }
        }
}
    }

