@use 'Variables' as *;

.conteiner-cadcarros, .info-carros{
    @include position(flex,none, center, row);
    width: 100vw;
    height: 100vh;
    
    
    .div-form{
        @include position(flex, center, center, row);
        width: 50%;
        height: 100%;
        form{
            width: 30%;
            h1{
                color: #fff;}
            a{
                background-color: #131818;}}
        fieldset{
            border: none;
            padding: 4px;
            width: 80%;
            .upload-img{
            color:#fff;
            padding: 5px;
            font-size: 0.8em;}}}
    .preview-car{
        @include position(flex, center, center, row);
        width: 40%;
    }}

    @media(max-width: 600px){
        .conteiner-cadcarros{
            
        .info-carros{
            flex-direction: column;
            overflow: scroll;
            .div-form{
                width: 100%;
                form{
                    width: 100%;}}
            .preview-car{
                padding-top: 20px;
                div{
                    width: 60vw;
                }
            }
        }
    }
}