@use './Variables.scss' as *;
.login{
    @include position(flex, space-around, center, row);
    height: 100vh;
    background-color:$green;
        .imgBackground{
            height: 80vh;
            width: 50vw;
            img{
                height: 100%;
                width: 100%; }}}
.loginFormConteiner{
    @include position (flex, center, center, row);
    border: 1px solid #354545;
    border-radius: 10px;
    background-color: #fff;
        h1{
            font-size: 2em;
            color: $green;
            text-align: center;
            width: 90%;
            span{
                color:#fad75b;}}}
form{
    @include position(flex, center, center, column);
    font-weight: 200;
    font-style: normal;
    min-height: 80vh;
    min-width: 30vw;
    gap:20px;
        .imgLogo{
        width: 90px;
        height: 90px;}
        .btn-entrar, .btn-atualizar{
            @include position (flex, center, center, row);
            width: 80%;
            height: 6vh;
            background-color: $green;
            text-decoration: none;
            color: #fff;
            font-weight: 300;
            border: none;
            cursor: pointer;}
        .btn-atualizar{
            background-color: #131818;
        }
        }
.buttons{
    @include position(flex, space-around, center, row);
    gap: 15px;
    width: 80%;
    flex-wrap: wrap;
        a{
            background-color: none;
            font-weight: 400;
            color:$green;}}
@media (max-width:700px){
    .login{
        width: 100vw;}
.loginFormConteiner{
    width: 70%;
    height: 95%;
        form{
            width: 100%; }}
.imgBackground{
display: none;}
@media (max-width:500px){
.loginFormConteiner{
    width: 95%;
    height: 95%;
}}}