
 @mixin position($display, $justify-content, $align-items, $flex-direction){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}


.login{
    @include position (flex, space-around, center, row);

    .imgBackground{
        height: 100vh;
        img{
            height: 100%;
            width: 100%;
        }
    }
}
.loginFormConteiner{
    @include position (flex, center, center, column);
    width: 50vw;
    form{
        @include position(flex, center, center, column);
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-style: normal;
        min-height: 100vh;
        min-width: 30vw;
        gap:20px;
        padding: 0px 20px;
            .btn-entrar{
                @include position (flex, center, center, row);
                width: 24vw;
                height: 6vh;
                background-color: #354545;
                text-decoration: none;
                color: #fff;
                font-weight: 300;
                border: none;
                cursor: pointer;
            }
}
            .buttons{
                @include position(flex, space-around, center, row);
                gap: 15px;
                width: 24vw;
                    a{
                        background-color: none;
                        font-weight: 400;
                        color:#354545;
                    }
                }          

    
}
    

