@use './Variables.scss' as *;
.registro{
    @include position(flex,center, center,row);
    height: 100vh;
    width: 100vw;
    background-color: $dark-gray;
    h1{
        color: #fff;
        font-size: 2em;
        letter-spacing: 1px;
        width: 95%;
        text-align: center;
        span{
            color: #000;
        }}}
    .registroFormConteiner{  
        @include position(flex,center, center,row);
        background-color:$green;
        border-radius: 10px;
        height: 80%;
        width: 80vw;
        form{
            @include position(flex,center, center,column);
            font-weight: 300;
            height:100%;
            width: 45%;
            gap: 15px;r
            button{  
                @include position(flex,center, center,row);
                border: none;
                width: 80%;
                background-color: #202020;
                color: #fff;
                text-align: center;
                height: 6vh;
                letter-spacing: 1.5px;
                cursor: pointer;}
            .imgLogo{
                width: 90px;
                height: 90px;}}}
    figure{
        width: 50vw;
        height: 100%;
        img{
            width: 100%;
            height: 100%;}}
@media (max-width: 800px){
    .registroFormConteiner{
        width: 75%;
        height: 95%;
        form{
        width: 100%;}
    .imgBackground-registro{
        display: none;}}}
