@mixin position($display, $justify-content, $align-items, $flex-direction){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}
$backcolor:#354545;
$button-color:#131818;
$gold-span:#FFD700;

.aside-component{
    @include position(flex, space-between, center, column);
    gap: 15px;
    background-color: $button-color;
    height: 100vh;
    width: 15vw;
    color: #fff;
    border: 1px solid $button-color;
    padding: 20px 0px;
    
    .superior-section-aside{
        @include position(flex, space-between, center, column);
        width: 100%;
        gap: 10px;
        .info-user{
            padding: 10px;
            width:100%;
            div{
                width: 100%;   
                display: flex;
                gap: 2px;
                .nome-span{
                    color: $gold-span;
                    background-color: transparent;
                    width: 100%;
                    border: none;
                    &::first-letter{
                        text-transform: uppercase;
                    }
                   
                } 
                .editar{
                        width: 20px;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                    }
            }
            figure{
                width: 100%;
                height: auto;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%
            }
        }
    }
}
}
    .buttons-aside, .button-logout-div{
        width: 100%;
        button{
            @include position(flex, left, center, row);
            width: 100%;
            height: 45%;
            background-color: transparent;
            border: none;
            color: #fff;
            gap: 10px;
            padding-left: 10px;
            cursor: pointer;
            font-size: 1.1em;
            text-align: justify;
            &:hover{
            background-color:$backcolor;
            transition: 1.3s;
        }
        } }
        

@media (max-width: 800px){
    .aside-component{
        display: flex;
        width: 10vw;
        justify-content: space-around;
        transition: 1s;

        &:hover{
           width: 50vw;
           transition: 1s;

           .superior-section-aside{
            .info-user{
                display: flex;
                flex-direction: column;
                justify-content: center;
                div{
                    display: flex;
                    justify-content: center;
                    .nome-span{
                        width: 20vw;
                    }
                }
                }
            }
           
        }
        

        .superior-section-aside {
            height: auto;

            .info-user{
                width: auto;
                justify-content: center;
                div{
                    display: none;
                    flex-wrap: wrap;
                    gap:5px;
                    span{
                        display: flex;
                        align-items: center;
                    }
                    .nome-span{
                        width: auto;
                        font-size: 0.9em;
                    }
                    .editar{
                        width: 15px;
                        margin-right: 5px;
                    }
                }
            }
            .info-user{
                figure{
                    width: auto;
                }
            }
        }
    }

    .buttons-aside, .button-logout-div{
        width: auto;
        button{
            width: auto;
            padding-right: 10px;


            span{
                display: none;
            }
        }
    }
}
