@mixin position($display, $justify-content, $align-items, $flex-direction){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}
$backcolor:#354545;
$button-color:#131818;
$gold-span:#FFD700;

.aside-component{
    @include position(flex, space-between, center, column);
    gap: 15px;
    background-color: $button-color;
    height: 100vh;
    width: 20vw;
    color: #fff;
    border: 1px solid $button-color;
    padding: 20px 0px;

    .nome-span{
        color: $gold-span;
    }

    .superior-section-aside{
        @include position(flex, space-between, center, column);
        width: 100%;
        gap: 15px;

        .info-user{
            padding: 10px;
            width:100%;

            h3{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                white-space: normal;
                font-family: 1.1em;
                letter-spacing: 1px;
            }
            figure{
                width: 100%;
                height: auto;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%
            }
        }
       
    }
}
    
    
    }
    .buttons-aside, .button-logout-div{
        width: 100%;
   
    button{
        @include position(flex, left, center, row);
        width: 100%;
        height: 5vh;
        background-color: transparent;
        border: none;
        color: #fff;
        gap: 10px;
        padding-left: 10px;
        cursor: pointer;
        font-size: 1.1em;
    } }
    button:hover{
        background-color:$button-color;
        transition: 1.3s;
    }
