.labelForm{
    border-bottom: 1px solid;
    background-color: #DCDCDC;
    padding: 3px 15px;
    input{
        width: 20vw;
        height: 4vh;
        border: transparent;
        background-color: transparent;
        color: #000;
        margin-right: 2px;
        outline: none;
        }
     
}