@use '../Variables.scss' as *;
.div-manutencoes{
    @include position(flex,none,right, column);
    width: 20vw;
    height: 100%;
    background-color: #131818;
    border-radius: 10px;
            .kilometragem{
                color:#696969;}
            .modelo{
                color: #FFD700;}}